* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v161_4318 {
  width: 834px;
  height: 1194px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v161_4319 {
  width: 297px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 66px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.v161_4320 {
  width: 62px;
  height: 60px;
  background: url("../images/v161_4320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 628px;
  overflow: hidden;
}

.v161_4321 {
  width: 834px;
  height: 100%;
  background: rgba(240, 236, 236, 1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}

.v161_4338 {
  width: 114px;
  height: 42px;
  background: rgba(192, 189, 189, 1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 703px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.v161_4339 {
  width: 91px;
  color: rgba(255, 252, 252, 1);
  position: absolute;
  top: 78px;
  left: 715px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v161_4399 {
  width: 70px;
  height: 70px;
  background: url("../images/v161_4399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 680px;
  overflow: hidden;
}

.v182_5609 {
  width: 834px;
  height: 185px;
  background: url("../images/v182_5609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 0px;
  overflow: hidden;
}

.v161_4371 {
  width: 834px;
  height: 185px;
  background: rgba(255, 252, 252, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  overflow: hidden;
}

.v161_4394 {
  width: 494px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 56px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v161_4403 {
  width: 70px;
  height: 70px;
  background: url("../images/v161_4403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 680px;
  overflow: hidden;
}

.v182_5612 {
  width: 834px;
  height: 185px;
  background: url("../images/v182_5612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 0px;
  overflow: hidden;
}

.v161_4374 {
  width: 834px;
  height: 185px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.v161_4395 {
  width: 494px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 42px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v161_4404 {
  width: 70px;
  height: 70px;
  background: url("../images/v161_4404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 680px;
  overflow: hidden;
}

.v182_5611 {
  width: 834px;
  height: 185px;
  background: url("../images/v182_5611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 0px;
  overflow: hidden;
}

.v161_4373 {
  width: 834px;
  height: 185px;
  background: rgba(255, 254, 254, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v161_4396 {
  width: 494px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 42px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v161_4405 {
  width: 70px;
  height: 70px;
  background: url("../images/v161_4405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 680px;
  overflow: hidden;
}

.v182_5610 {
  width: 834px;
  height: 185px;
  background: url("../images/v182_5610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 0px;
  overflow: hidden;
}

.v161_4372 {
  width: 834px;
  height: 185px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v161_4397 {
  width: 494px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 42px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v161_4406 {
  width: 70px;
  height: 70px;
  background: url("../images/v161_4406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 680px;
  overflow: hidden;
}